<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Almundo :: Production Site</title>


    <!--build:css stylesheets/styles.min.css-->
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/styles.css">
    <!--endbuild-->


</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../dist/assets/images/logo-almundo.svg"  class="img-fluid" alt="Logo Almundo">
        </a>
    </div>
</nav>
<div class="error">
    <p><strong>Lo sentimos :(</strong></p>
    <p>La pagina que buscas no existe</p>
</div>
</body>

</html>
