<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Almundo :: Production Site</title>

    <!-- Load compiled css -->
    <link rel="stylesheet" type="text/css" href="../dist/stylesheets/styles.min.css">

</head>

<body>
<app ng-app="main">
</app>

<!-- Load compiled JS -->
<script type="text/javascript" src="../dist/js/main.min.js"></script>

</body>

</html>
