<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Almundo :: Develop Site</title>


    <!--build:css stylesheets/styles.min.css-->
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/styles.css">
    <!--endbuild-->


</head>

<body>
<app ng-app="main">

</app>

<!--build:js js/main.min.js -->
<script type="text/javascript" src="../node_modules/jquery/jquery.js"></script>
<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../client/components/main-component.js"></script>
<script type="text/javascript" src="../client/components/sidebar.js"></script>
<script type="text/javascript" src="../client/components/hotels-container.js"></script>
<script type="text/javascript" src="../client/components/nav.js"></script>
<!-- endbuild -->

</body>

</html>
