<div class="filters">
    <div class="filters-heading shadow">
        Filtros
        <div class="filters-bar dropdown-toggle collapsed"
             data-toggle="collapse"
             href="#search-bar"
             aria-expanded="false"
             aria-controls="searchBlock">
        </div>
    </div>
    <div class="filters-heading shadow tags">
        <div data-ng-if="$ctrl.filterTags" data-ng-repeat="filter in $ctrl.filterTags track by $index" class="filter-tag">
            {{filter}}
        </div>
        <div data-ng-if="$ctrl.filterTags.length > 0" class="clear-filters">
            <small data-ng-click="$ctrl.clearFilters()" class="pointer">Borrar filtros</small>
        </div>
    </div>
    <div id="search-bar" class="collapse">
        <div class="filters-name shadow">
            <div class="search-icon">
                <img src="/dist/assets/icons/filters/search.svg" alt="Search">
            </div>
            <div class="search-text d-inline-block">Nombre del hotel</div>
            <div class="search-collapse dropdown-toggle collapsed" data-toggle="collapse" href="#search-block" aria-expanded="false" aria-controls="searchBlock"></div>
            <div id="search-block" class="search-block input-group collapse show">
                <input class="form-control" data-ng-model="$ctrl.hotelQuery" ng-keypress="$ctrl.checkEnter($event.keyCode,$ctrl.search)" type="text" placeholder="Ingrese el nombre del hotel">
                <button class="btn btn-primary" data-ng-click="$ctrl.search()">Aceptar</button>
            </div>
        </div>
        <div class="filters-rating shadow">
            <div class="rating-icon">
                <img src="/dist/assets/icons/filters/star.svg" alt="Rating">
            </div>
            <div class="rating-text">Estrellas</div>
            <div class="rating-collapse dropdown-toggle collapsed" data-toggle="collapse" href="#rating-block" aria-expanded="false" aria-controls="ratingBlock"></div>
            <div id="rating-block" class="rating-block collapse show">
                <label> <input type="checkbox"
                               name="rating0"
                               value="0"
                               data-ng-model="$ctrl.rating[0]"
                               data-ng-change="$ctrl.clearFilters()"
                               selected > Todas las estrellas </label>
                               <!--data-ng-disabled="$ctrl.filters.rating"-->


                <label class="rating" ng-repeat="stars in [5,4,3,2,1] track by $index">
                    <input type="checkbox"
                           name="rating{{stars}}"
                           ng-model="$ctrl.rating[stars]"
                           value="{{stars}}"
                           data-ng-change="$ctrl.filterByRating(stars,$ctrl.rating)">
                           <!--data-ng-disabled="$ctrl.filters.rating[stars]"-->

                    <img data-ng-repeat="x in [].constructor(stars+1) track by $index"
                         src="/dist/assets/icons/filters/star.svg"
                         alt=""
                         class="rating-star">

                </label>
            </div>
        </div>
    </div>
</div>