/* Mixins */
body {
  margin: 0;
  background: #f3f3f3;
  box-sizing: border-box; }
  body .navbar {
    background-color: #063b7e; }
    body .navbar .navbar-brand img {
      padding: 10px; }
  body .rating-star {
    height: 15px;
    width: 15px; }
  body .pointer {
    cursor: pointer; }

.sidebar-container {
  padding: 0; }

.filters {
  width: 100%;
  font-weight: 700; }
  .filters .search-collapse {
    display: inline-block;
    float: right;
    margin-right: 1rem;
    padding-top: 0.25rem;
    font-size: 1.25rem; }
    .filters .search-collapse.dropdown-toggle {
      transform: rotate(180deg);
      transition: transform 0.5s linear; }
    .filters .search-collapse.collapsed {
      transform: rotate(0deg);
      transition: transform 0.5s linear; }
  .filters .filters-bar {
    display: inline-block;
    float: right;
    margin-right: 1rem;
    padding-top: 0.25rem;
    font-size: 1.25rem;
    padding-top: 0; }
    .filters .filters-bar.dropdown-toggle {
      transform: rotate(180deg);
      transition: transform 0.5s linear; }
    .filters .filters-bar.collapsed {
      transform: rotate(0deg);
      transition: transform 0.5s linear; }
    .filters .filters-bar.dropdown-toggle {
      transform: rotate(180deg);
      transition: transform 0.5s linear;
      margin-top: -4px;
      margin-left: 5px; }
    .filters .filters-bar.collapsed {
      transform: rotate(0deg);
      transition: transform 0.5s linear;
      margin-top: 0; }
  .filters #search-bar {
    width: 100%; }
  .filters .filters-heading {
    width: 100%;
    background-color: #fff;
    padding: 5px 0 5px 15px;
    display: flex;
    justify-content: center; }
    .filters .filters-heading .clear-filters {
      margin-left: 15px;
      display: inline-block;
      float: right; }
  .filters .filter-tag {
    font-size: 0.75rem;
    background: #0679b3;
    display: inline-block;
    padding: 1px 5px;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    text-transform: capitalize; }
  .filters .filters-name {
    background-color: #fff;
    width: 100%;
    color: #0679b3;
    padding-top: 0.5rem;
    margin-top: 0.25rem;
    padding-bottom: 0.5rem; }
    .filters .filters-name .search-icon {
      height: 15px;
      width: 15px;
      display: inline-block; }
      .filters .filters-name .search-icon img {
        padding: 5px 15px;
        margin-bottom: 0.25rem; }
    .filters .filters-name .search-text {
      display: inline-block;
      margin-left: 1.25rem;
      padding-top: 5px; }
    .filters .filters-name .search-block {
      padding-bottom: 0.75rem; }
      .filters .filters-name .search-block input {
        margin: auto 1rem;
        padding: 5px;
        color: #5d5d5d; }
      .filters .filters-name .search-block .btn {
        margin-right: 1.5rem; }
  .filters .filters-rating {
    background-color: #fff;
    width: 100%;
    color: #0679b3;
    padding-top: 0.5rem;
    margin-top: 0.25rem;
    padding-bottom: 0.5rem; }
    .filters .filters-rating .rating-icon {
      height: 15px;
      width: 15px;
      display: inline-block; }
      .filters .filters-rating .rating-icon img {
        padding: 5px 15px;
        margin-bottom: 0.25rem; }
    .filters .filters-rating .rating-text {
      display: inline-block;
      margin-left: 1.25rem;
      padding-top: 5px; }
    .filters .filters-rating .rating-collapse {
      display: inline-block;
      float: right;
      margin-right: 1rem;
      padding-top: 0.25rem;
      font-size: 1.25rem; }
      .filters .filters-rating .rating-collapse.dropdown-toggle {
        transform: rotate(180deg);
        transition: transform 0.5s linear; }
      .filters .filters-rating .rating-collapse.collapsed {
        transform: rotate(0deg);
        transition: transform 0.5s linear; }
    .filters .filters-rating .rating-block :first-child {
      padding-top: 20px; }
    .filters .filters-rating .rating-block :last-child {
      padding-bottom: 20px; }
    .filters .filters-rating .rating-block label {
      display: block;
      padding-left: 15px;
      color: #000;
      font-size: 1rem;
      font-weight: normal; }
      .filters .filters-rating .rating-block label img {
        margin-top: -5px; }
  .filters.shadow {
    box-shadow: 0 0 5px 1px #cecece; }

.hotels-portfolio {
  background-color: #fff;
  width: 100%;
  color: #0679b3;
  padding-top: 0.5rem;
  margin-top: 0.25rem;
  padding-bottom: 0.5rem;
  background: #f3f3f3; }
  .hotels-portfolio .hotel-card {
    margin-bottom: 20px;
    box-shadow: 0 0 5px 1px #cecece; }
    .hotels-portfolio .hotel-card .hotel-image {
      padding-right: 0; }
      .hotels-portfolio .hotel-card .hotel-image img {
        width: 330px;
        height: 200px;
        object-fit: cover;
        padding: 10px; }
    .hotels-portfolio .hotel-card .hotel-data {
      padding-left: 25px;
      margin-bottom: 25px; }
      .hotels-portfolio .hotel-card .hotel-data h6 {
        font-weight: 700;
        margin-top: 0.5rem; }
      .hotels-portfolio .hotel-card .hotel-data .rating-container {
        margin-top: -10px; }
      .hotels-portfolio .hotel-card .hotel-data .amenities-container img {
        height: 20px;
        margin-right: 10px; }
    .hotels-portfolio .hotel-card .hotel-buying {
      border-top: 1px dashed #cccccc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto 25px; }
      .hotels-portfolio .hotel-card .hotel-buying .buying-text {
        font-size: 0.8rem;
        color: #484848;
        margin-top: 25px;
        margin-bottom: 0; }
      .hotels-portfolio .hotel-card .hotel-buying .buying-price {
        color: #e16800;
        font-size: 1.5rem;
        margin-bottom: 0; }
        .hotels-portfolio .hotel-card .hotel-buying .buying-price strong {
          font-size: 2rem; }
      .hotels-portfolio .hotel-card .hotel-buying .buying-btn {
        padding-left: 3rem;
        padding-right: 3rem;
        font-weight: 700;
        font-size: 1.25rem;
        margin-bottom: 1rem; }

/* Override default boostrap classes */
.btn-primary {
  background-color: #063b7e;
  border-color: #063b7e; }
  .btn-primary:hover {
    background-color: #0852af;
    border-color: #0852af; }

@media (min-width: 992px) {
  .sidebar-container {
    padding: 0 15px; }
  .filters {
    padding-top: 1.5rem; }
    .filters .filters-heading {
      justify-content: flex-start; }
      .filters .filters-heading .clear-filters {
        padding-right: 15px; }
    .filters .filters-bar.dropdown-toggle {
      display: none; }
    .filters #search-bar {
      display: block; }
  .hotels-portfolio .hotel-card {
    max-height: 220px; }
    .hotels-portfolio .hotel-card .hotel-data {
      padding-left: 0;
      margin-bottom: 0; }
    .hotels-portfolio .hotel-card .hotel-buying {
      border-top: 0 !important;
      border-left: 1px dashed #cccccc;
      margin: 10px auto; }
      .hotels-portfolio .hotel-card .hotel-buying .buying-text {
        padding: 0 35px;
        text-align: center;
        margin-top: 0; } }
